/* ── Main Services Hero Section ── */
.ms-hero {
  display: flex;
  flex-direction: column;
  padding-top: 140px;
  background-color: #EFECE3;
  overflow: visible;
}

/* ── Text area ── */
.ms-hero__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 70px 2rem 40px;
}

.ms-hero__heading {
  font-family: var(--font-ivy-presto), serif;
  font-size: 30px;
  font-weight: 300;
  color: #38443E;
  line-height: 1.2;
  margin: 0 0 20px;
  max-width: 600px;
}

.ms-hero__paragraph {
  font-family: "DM Sans", sans-serif;
  font-size: 14px;
  font-weight: 300;
  color: #000000;
  line-height: 1.6;
  max-width: 590px;
  margin: 0 auto;
}

/* ── Image — hangs half below the section ── */
.ms-hero__image-wrap {
  position: relative;
  width: 80%;
  height: 300px;
  margin: 0 auto -100px;
  overflow: hidden;
  z-index: 1;
}

.ms-hero__img {
  object-fit: cover;
  object-position: center;
}

/* ── Tablet ── */
@media (min-width: 768px) and (max-width: 1023px) {
  .ms-hero {
  padding-top: 100px;
}
  .ms-hero__heading {
    font-size: 26px;
  }

  .ms-hero__image-wrap {
    height: 270px;
    margin-bottom: -130px;
  }
}

/* ── Mobile ── */
@media (max-width: 767px) {
  .ms-hero {
  padding-top: 70px;
}
  .ms-hero__heading {
    font-size: 22px;
  }
  .ms-hero__paragraph{
    font-size: 12px;
    max-width: 350px;
  }
  .ms-hero__text {
    padding: 70px 1.5rem 40px;
  }

  .ms-hero__image-wrap {
    width: 85%;
    height: 200px;
    margin-bottom: -90px;
  }
}
@media (max-width:550px){
  .ms-hero__image-wrap {
    width: 85%;
    height: 160px;
    margin-bottom: -70px;
  }
}
@media (max-width:450px){
  .ms-hero__image-wrap {
    width: 85%;
    height: 140px;
    margin-bottom: -60px;
  }
}


@media (max-width:400px){
  .ms-hero__heading {
    font-size: 20px;
  }
  .ms-hero__paragraph {
    margin-bottom:-10px;
  }
  .ms-hero__image-wrap {
    width: 85%;
    height: 150px;
    margin-bottom: -50px;
  }
}
/* ── Large screens ── */
@media (min-width: 1400px) {
  .ms-hero__heading {
    font-size: 38px;
    max-width: 700px;
  }

  .ms-hero__paragraph {
    font-size: 16px;
    max-width: 670px;
  }

  .ms-hero__image-wrap {
    height: 400px;
    margin-bottom: -150px;
  }
}
